$tamanho: 2.5rem;

.tabuleiro {
  display: flex;
  position: relative;
  flex-direction: row;
  width: calc(#{$tamanho} * 8);
  flex-wrap: wrap;
  background-color: #fff;

  @for $i from 4 through 30 {
    &-#{$i} {
      width: calc(#{$tamanho} * #{$i});
    }
  }
}
