form {
  width: 100%;
  max-width: 20rem;
  padding: 1rem 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.tamanho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 20rem;
  padding: 0 1.5rem;
  font-size: 0.8rem;
}

:host ::ng-deep mat-slide-toggle {
  width: 100%;
  max-width: 20rem;

  ::ng-deep label{
    justify-content: space-between;
    padding: 0 1.5rem;
    font-size: 0.8rem;
  }
}


