mat-form-field {
    width: -webkit-fill-available;
    margin: 2rem;
}

textarea {
    height: 15rem;
}

section {
    display: flex;
    gap: 4rem;
    justify-content: space-evenly;
}

div {
    display: flex;
    flex-direction: column;
    width: 32%;
    background: #EEE;
    padding: 1rem 1.5rem;
    margin-bottom: 3rem;
}