app-tabuleiro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transform-origin: top center;

  @for $i from 4 through 30 {
    &.tamanho-#{$i} {
      transform: scale(calc(8 / #{$i}));
      width: calc(2.5rem * #{$i});
    }
  }
}

.painel {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1.875rem;
  margin: 1.5625rem auto 0;
  justify-content: center;
}

.tabuleiro-wrapper {
  display: flex;
  justify-content: center;
}

.acoes {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 0.5rem;
  max-width: 20rem;
  margin: 0.5rem auto 0;
}

.controles {
  width: 100%;
}

@media (min-width: 48rem) {
  :host {
    display: flex;
    flex-wrap: wrap;

    .controles {
      width: 50%;
    }

    .acoes {
      align-items: center;
    }

    .painel, .tabuleiro-wrapper {
      flex: 1 1 100%;
    }

    .tabuleiro-wrapper {
      max-width: 100%;
    }
  }
}
